<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        {{ script|safe }}
    </head>
    <body>
        <div class='bokeh'>
            <h1>Stock prices for {{ticker}}:</h1>
            <form id='backbutton' method='post' action='graph' >
                <p>
                <input type='submit' value='BACK' />
                </p>
            </form>
            {{ div|safe }}
        </div>
        
    </body>
</html>
